<div id="contactWrap">
  <h1>Get in Touch!</h1>
  <div id="contactInnerWrap">
    <div id="headWrap">
      <p id="flavor">Let me know what I can do for you! The best way to reach me is by email, but feel free to call or text me if you're
        interested in any of my services. </p>
    </div>
    <div id="infoWrap">
      <p class="info">Ben Tosto</p>
      <!-- <img src="../../../assets/images/coding pics/contact-brown.png" alt="" id="contact"> -->
      <p class="info">(678) 548-1747</p>
      <p class="info">9am - 6pm EST</p>
      <a href="mailto:forgedelements@gmail.com" id="email">forgedelements@gmail.com</a>
    </div>
  </div>
</div>
