<div id="portfolioWrap">
  <h1>Here are a few projects I've worked on previously</h1>
  <div id="imageRowWrap">
    <div class="imgWrap">
      <a href="https://thewillowscommunity.com/" target="blank">
        <img src="../../../assets/images/coding pics/web-(1).jpg" alt="" id="img1">
      </a>
    </div>
    <div class="imgWrap">
      <a href="https://pestopresto.wordpress.com/" target="blank">
        <img src="../../../assets/images/coding pics/web-(2).jpg" alt="" id="img2">
      </a>
    </div>
    <div class="imgWrap">
      <a href="http://bencasey.love/" target="blank">
        <img src="../../../assets/images/coding pics/web-(3).jpg" alt="" id="img3">
      </a>
    </div>
  </div>
</div>
