#titleWrap {
  position: relative;
  grid-area: title;
  padding-bottom: 2rem;
  margin: auto;
}

h1 {
  color: #f19c22;
  font-size: 5em;
  text-align: center;
}

#title {
  padding: 1rem 2rem;
  position: absolute;
  bottom: 30%;
  left: 20%;
}

#profilePic {
  width: 100%;
  max-width: 1200px;
  border: .1rem solid #1d1d1d;
}

p {
  color: rgb(248, 238, 225);
}

#aboutWrap {
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title" "chunkWrap1" "chunkWrap2" "chunkWrap3"
}

.imgWrapR,
.imgWrapL {
  padding: 1rem;
  border-radius: 50%;
  shape-outside: border-box;
  width: 70%;
  max-width: 600px;
  position: relative;
}

.imgWrapL {
  float: left;
}

.imgWrapR {
  float: right;
}

/* .overlay {
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  transition: .5s ease;
}

.imgWrapR:hover .overlay {
  opacity: 1;
}

.imgWrapL:hover .overlay {
  opacity: 1;
} */

.imgWrapR, .imgWrapL {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.overlay {
  cursor: pointer;
  position: relative;
  display: block;
}

.caption {
  padding: 1rem;
  border-radius: 50%;
  shape-outside: border-box;
  text-align: center;
  text-shadow: 0 0 1rem #000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  
}

.caption:hover {
  opacity: 1;
}


.caption p {
  vertical-align: middle;
  position: absolute;
  bottom: 10rem;
}

.oval {
  max-width: 100%;
  border: .1rem solid #1d1d1d;
  border-radius: 100%;
}

#oz {
  float: right;
}

#orion {
  float: left;
}

#fresca {
  float: right;
}

#chunkWrap1 {
  grid-area: chunkWrap1;
}

#chunkWrap2 {
  grid-area: chunkWrap2;
}

#chunkWrap3 {
  grid-area: chunkWrap3;
}

@media screen and (max-width: 60em) {
  #title {
    bottom: 3rem;
    left: 4rem;
  }
  h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 40em) {
  .imgWrapL,
  .imgWrapR {
    display: inline;
    width: 100%;
    shape-outside: none;
  }
  #title {
    bottom: 5%;
    left: 0;
  }
  h1 {
    font-size: 3em;
  }
  #oz {
    grid-area: oz;
  }
  #ozp {
    grid-area: ozp;
  }
  #chunkWrap1Inner {
    display: grid;
    grid-template-areas: "ozp" "oz"
  }
}
