#titleWrap {
  position: relative;
  grid-area: title;
  padding-bottom: 2rem;
  margin: auto;
}

h1 {
  color: #f19c22;
  font-size: 5em;
  text-align: center;
}

#title {
  padding: 1rem 2rem;
  position: absolute;
  bottom: 30%;
  left: 20%;
}

#profilePic {
  width: 100%;
  max-width: 1200px;
  border: .2rem solid #1d1d1d;
}

p {
  color: rgb(248, 238, 225);
}

#aboutWrap {
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title" "chunkWrap1" "chunkWrap2" "chunkWrap3"
}

.imgWrapR,
.imgWrapL {
  padding: 1rem;
  border-radius: 50%;
  shape-outside: border-box;
  width: 70%;
  max-width: 600px;
  position: relative;
}

.imgWrapL {
  float: left;
}

.imgWrapR {
  float: right;
}

.caption {

  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 600px;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 600ms;
  text-align: center;
}

.caption p {
  padding-top: 50%;
}

.caption:hover {
  opacity: 1;
}

.imageBorder {
  max-width: 100%;
  border: .1rem solid #1d1d1d;
  border-radius: 100%;
}

#chunkWrap1 {
  grid-area: chunkWrap1;
}

#chunkWrap2 {
  grid-area: chunkWrap2;
}

#chunkWrap3 {
  grid-area: chunkWrap3;
}

@media only screen and (max-width: 60em) {
  #title {
    bottom: 3rem;
    left: 4rem;
  }
  h1 {
    font-size: 4em;
  }
}

@media only screen and (max-width: 40em) {
  .imgWrapL,
  .imgWrapR {
    display: inline;
    width: 100%;
    shape-outside: none;
  }
  #title {
    bottom: 5%;
    left: 0;
  }
  h1 {
    font-size: 3em;
  }
  #oz {
    grid-area: oz;
  }
  #ozp {
    grid-area: ozp;
  }
  #chunkWrap1Inner {
    display: grid;
    grid-template-areas: "ozp" "oz"
  }
}

@media only screen and (max-width: 25em) {
  #title h1 {
    font-size: 2rem;
  }
  #aboutWrap {
    padding: .75rem;
  }
}