<div id="aboutWrap">
  <div id="titleWrap">
    <img src="../../../assets/images/about pics/Floorlaying.jpg" alt="" id="profilePic">
    <div id="title">
      <h1>Hi, I'm Ben Tosto</h1>
    </div>
  </div>

  <div id="chunkWrap1">
    <div id="chunkWrap1Inner">
      <div class="imgWrapR">
        <img src="../../../assets/images/about pics/Australia.png" alt="" id="oz" class="imageBorder">

        <div class="caption">
          <p>My "shop" in Australia.</p>
        </div>

      </div>


      <p id="ozp">I’ve always loved making things. As a kid, I played a lot with clay and Lego. When I was old enough to manage tools,
        I took an interest in woodwork, and spent a summer in my early 20’s working with my uncle in Virginia as a carpenter.
        I really enjoy woodwork, but when I had a chance to try metalwork, I fell head over heels for it. I first became
        enamored with metalwork at Principia College while doing machinist work for the solar car team. But it wasn’t until
        2013 while living in Australia that I got to explore ironwork on my own terms. </p>
    </div>


    <p> A friend had given me a book that catalogued all sorts of third-world industrial practices in use during the 70’s, and
      several chapters of it were dedicated to different forms of metalwork. I was blown away at the ingenuity and simplicity
      of the techniques I learned there, and I decided to give it a go myself!</p>

    <p>A few trips to the local junk yard later, I had my very own brake drum forge, railroad track anvil, tarpaulin bellows,
      and charcoal retort set up. Though I spent exponentially more time building this setup than I spent forging with it,
      the experience taught me a lot of valuable lessons. In any case, I was hooked. </p>
  </div>

  <div id="chunkWrap2">
    <div class="imgWrapL">
      <img src="../../../assets/images/about pics/Orion.png" alt="" id="orion" class="imageBorder">

      
      <div class="caption">
          <p>The power hammers at Orion Forge in Bend, OR.</p>
        </div>

    </div>
    <p>The following year, my wife and I moved to Bend, OR, and serendipitously I found myself in a small community with a high
      density of world-class blacksmiths. I immediately joined the Central Oregon Metal Arts Guild, and began attending Northwest
      Blacksmithing Association classes and conferences. Through these groups, I came to be acquainted with some of the most
      talented ironworkers in the country (and a few from Hungary and Italy!). After half a year of struggling on my own
      in an unused stable outside of town, I decided it was time to get serious about my craft.</p>


    <p>From 2015 to 2017, I worked for Orion Forge and Dry Canyon Forge in Bend under the masterful guidance and direction of
      Hunter Dahlberg, Kellen Bateham, and Joe Elliott. The experience I gained working them was invaluable, and propelled
      my personal work into professional success. </p>
  </div>

  <div id="chunkWrap3">
    <div class="imgWrapR">
      <img src="../../../assets/images/about pics/Fresca.png" alt="" id="fresca" class="imageBorder">

      
      <div class="caption">
          <p>Trying to blacksmith in my garage back in Oregon.</p>
        </div>

    </div>

    <p> In April, 2018 my wife and I, looking forward to having kids, moved again to be closer to family - this time to Northern
      Michigan in a beautiful home on 17 acres adjoining Sleeping Bear National Park. From here the forgelight glows once
      more.
    </p>

    <p>My passion is in custom furniture - the joining of wood and metal is a uniquely raw combination of textures, shapes,
      and colors that I never get tired of seeing juxtaposed - but I’ll always have a soft spot in my heart for the forged
      hand tools I learned my trade making.

    </p>
  </div>
</div>
