#headSpace {
  grid-area: headSpace;
}
#viewSpace {
  grid-area: viewSpace;
}
#footSpace {
  grid-area: footSpace;
  
}
div#smithingWrap {
  /* background-color: #504640; */
  background-color: #383838;
  background-image: url('../../../assets/svgs/gridpattern.svg');
  background-size: 3px;
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: 
    "headSpace"
    "viewSpace"
    "footSpace";
}

/* header stuff */

header {
  background: linear-gradient(3deg, #000000, #1d1d1d, #383838);
  width: 100%;
  /* position: sticky; */
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-areas: "logo navLinks navTab";
}

nav {
  font-family: 'Comfortaa', sans-serif;
  margin: auto;
  grid-area: navLinks;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

nav a {
  text-decoration: none;
  padding: .5rem 1rem;
  color: rgb(248, 238, 225);
  font-weight: 400;
  border-right: solid 1px #f19c22;
  transition: color, 550ms;
}

nav a:hover {
  color: #F19C22;
}

nav a#lastNav {
  border-right: none;
}

#navTab {
  margin: .5rem 0;
  grid-area: navTab;
}
#navTab2{
  margin: .5rem 0;
  grid-area: navTab2;
  display: none;
}

#logo {
  grid-area: logo;
  margin: auto 1rem;
  display: inline-block;
}

#fe {
  width: 65px;
}

#navTabImg {
  float: right;
}

/* Footer Stuff */

footer {
  background: #1d1d1d;
  color: white;
  text-align: center
}
footer p {
  margin: auto;
  padding: .4rem;
}

/* Media Breaks */
@media only screen and (min-width: 1200px) {
  #smithingWrap {
    border-right: .2rem solid #F19C22;
    border-left: .2rem solid #F19C22;
  }
  #superWrap {
    background-color: #1d1d1d;
  }
}
@media only screen and (max-width: 60em) {
  header{
    max-height: 300px;
    grid-template-rows: auto 3rem;
    grid-template-areas:
      "navTab2 logo navTab"
      "navLinks navLinks navLinks";
  }
  #navTab2 {
    display: initial;
  }
  a#logo {
    display:grid;
    justify-content: center;
  }
  img#fe {
    margin: auto;
  }
}

