<div id="customWrap">
  <h1>Custom Order Information</h1>
  <p>
      Because of the nature of modern blacksmithing, it’s hard to point to any one type of job that I specialize in, but here are some of the services I offer regularly:
      </p>
      <ul>
        <li>Railings </li>
        <li>Handrails  </li>
        <li>Fire pits </li>
        <li>Fire screens </li>
        <li>Fireplace tools </li>
        <li>Gates </li>
        <li>Door/cabinet/household hardware </li>
        <li>Garden ornamentation </li>
        <li>Tools </li>
      </ul>
      <p>But if you don’t see what you’re after in that list, fear not! That’s by no means a comprehensive list. Frankly, I’m willing to tackle just about any job I think I can fit in the forge. If you’ve got a weird idea you’ve been kicking around, reach out and I’ll see what I can do for you! I’ve made thuribles and I’ve made sewer drain plates, so chances are you won’t surprise me (but I welcome a good challenge).</p>
</div>