<div id="aboutWrap">
  <div id="chunkWrap1">
    <h1>Looking for a coder?</h1>
    <div id="chunkWrap1Inner">
      <div class="imgWrapL">
        <img src="../../../assets/images/coding pics/headshot2.jpg" alt="" id="" class="headshot">

      </div>


      <p>
        My father was etching PCB and hacking together scripts not just before it was cool, but when it was dreadfully uncool. I’m
        proud to say that I’m a well-adjusted, second generation nerd thanks to his persistence. I began taking an interest
        in coding in high school when I began a webcomic called Stickism. I learned enough PHP, HTML, and CSS to sustain
        the project.</p>

      <p>But it wasn’t until I was in college taking a cartography class that I gained exposure to a real coding project. Using
        SQL and GIS, I made a database management tool that could interface with our handheld GPS units for mapping invasive
        species along the bluffs, and our treatment methods on them.</p>

      <p>That project taught me the value of being able to coordinate data effectively using coding, and I decided to learn
        some more “friendly” languages to help me day to day. From there I picked up some Python, Ruby, and JavaScript, enough
        to make simple programs and jazz up my personal blog.</p>
        
        <!-- <div class="imgWrapR">
          <img src="../../../assets/images/coding pics/headshot3.jpg" alt="" id="" class="headshot">
  
        </div> -->

      <p>I began picking up freelancing jobs soon after that, as friends, family, and colleagues found my skills useful for
        their own projects - a food blog here, a local organization there, a message board or two, the occasional Raspberry
        Pi project. I began taking online courses in 2012 to supplement my field experience, and now boast proficiency in
        multiple languages.
      </p>


      <p>My current passion is for front end web development, as it combines my experience in graphic design with coding to
        make our shared internet a jazzier place to hang out. It’s been my pleasure to work with some other really talented
        freelancers on their projects, and I’m eager to pick up more work in this area for myself!

      </p>

    </div>
  </div>
</div>
