<div id="aboutWrap">
  <div id="chunkWrap1">
    <div id="chunkWrap1Inner">
      <div class="imgWrapL">
        <img src="../../../assets/images/coding pics/headshot2.jpg" alt="" id="" class="headshot">

      </div>


      <p>
        My father was etching PCB and hacking together scripts not just before it was cool, but when it was dreadfully uncool. I’m
        proud to say that I’m a well-adjusted, second generation nerd thanks to his persistence. I began taking an interest
        in coding in high school when I began a webcomic called Stickism. I learned enough PHP, HTML, and CSS to sustain
        the project.</p>


      <p>But it wasn’t until I was in college taking a cartography class that I gained exposure to a real coding project. Using
        SQL and GIS I made a database management tool that could interface with our handheld GPS units for mapping invasive
        species along the bluffs, and our treatment methods on them.</p>

      <p>That project taught me the value of being able to coordinate data effectively using coding, and I decided to learn
        some more “friendly” languages to help me day to day. From there I picked up some Python, Ruby, and JavaScript, enough
        to make simple programs and jazz up my personal blog.</p>


      <p>I began picking up freelancing jobs soon after that, as friends, family, and colleagues found my skills useful for
        their own projects - a food blog here, a local organization there, a message board or two, the occasional Raspberry
        Pi project. I began taking online courses in 2012 to supplement my field experience, and now boast proficiency in
        multiple languages.
      </p>
      
      <div class="imgWrapR">
        <img src="../../../assets/images/coding pics/headshot3.jpg" alt="" id="" class="headshot">

      </div>

      <p>My current passion is for front end web development, as it combines my experience in graphic design with coding to
        make our shared internet a jazzier place to hang out. It’s been my pleasure to work with some other really talented
        freelancers on their projects, and I’m eager to pick up more work in this area for myself!

      </p>


      <p> In April, 2018 my wife and I, looking forward to having kids, moved again to be closer to family - this time to Northern
        Michigan in a beautiful home on 17 acres adjoining Sleeping Bear National Park. From here the forgelight glows once
        more.
      </p>

      <p>My passion is in custom furniture - the joining of wood and metal is a uniquely raw combination of textures, shapes,
        and colors that I never get tired of seeing juxtaposed - but I’ll always have a soft spot in my heart for the forged
        hand tools I learned my trade making.

      </p>
    </div>
  </div>
</div>
