@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Alegreya|Comfortaa|Flamenco|Montserrat');

/* 
Custom Font Syntax:
font-family: 'Comfortaa', sans-serif;
font-family: 'Flamenco', cursive;
font-family: 'Alegreya', serif; 
*/


body, html {
  height: 100%;
  
}
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Flamenco', sans-serif;
}