<div id="jumboWrap">
  <div id="jumbotron">
    <img src="../../../assets/images/jumbotron.jpg" alt="">
    <div id="jumboTitle">
      <h1>forged elements</h1>
    </div>
  </div>
  <div id="heroWrap">
    <div class="heroBox">
      <h2 class="jumboHero">Take a second and look around you. </h2>
      <p class="jumboText">Everything you see has story to tell. Increasingly, the stories of these objects have been isolated from us as consumers.
        I believe strongly that the things we choose to surround ourselves with should communicate their history. The evidence
        of my work speaks loud and clear through each piece - the blow of the hammer, the scale of the fire, the marks of
        craftsmanship. These stories are important. They inform us of our humanity - we are builders, we are explorers, we
        stand on the shoulders of giants.
      </p>
    </div>
    <div class="heroBoxR">
      <h2 class="jumboHero">Examine the world you live in. </h2>
      <p class="jumboText">Whole lifetimes were dedicated to perfecting skills that are now performed instantly and thoughtlessly by machinery.
        But, change and progress aren’t just inevitable, they’re healthy and necessary. Nevertheless, we would be wise to
        preserve the legacy of our forebearers.
      </p>
    </div>
    <div class="heroBox">
      <h2 class="jumboHero">My mission </h2>
      <p class="jumboText"> is to honor the labors of the weathered hands that we held on our journey to who we are today. To remind everyone who
        sees my work that the beauty of traditions is in the countless generations of minds that shape them, the whispering
        wind of words passing over the sandstone canyons of our shared history. My hope is that those voices can speak through
        my work for everyone to hear. So gather ‘round the forgelight, friends,
      </p>
    </div>
    <div class="heroBoxLast" style="padding-bottom: 3rem; border: none;">
      <a [routerLink]="['../sportfolio']" class="jumboHero">I’ve got a story to tell you...</a>
    </div>
  </div>
</div>
